#dna-key,#dna-disp,.text-unit{
  display: inline-block;
  vertical-align: text-top;
}

/* Reintroduces the behavior where the code moves up when letters fill in */
#dna-disp div{
  vertical-align: bottom;
}

.text-unit{
  margin: 6px;
}

.code{
  color: red;
}

.value{
  text-align: center;
  /*border-bottom: 1px solid black;*/
}

#dna-key{
  width: 20%
}

#dna-disp{
  width: 70%;
}